.characterView-title {
    position: absolute;
    top: 18%;
    height: 5%;
    text-align: center;
}
.characterView-container {
    align-self: center;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;

}

.characterView-container  input {
    position: absolute;
    top:30%;
    width: 30%;
    height: 40px;
    left:10%;
    border-radius: 5px;
    font-size: 1.02rem;
    border: 2px solid transparent;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    
}
.characterView-container  input:focus {
    outline: none;
}
.characterView-container  .characterView-search-input-btn {
    position: absolute;
    top: 31%;
    left:37.5%;
    z-index: 3;
    cursor: pointer;
}

.characterView-container  .characterView-search-table {
    top: 38%;
   left: 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 34.5%;
    
}
.characterView-container  .table-container {
    border-radius: 5px;
    border-bottom: 2px solid #11cb5f;
}
.characterView-container  .table-container::-webkit-scrollbar {
    display: none;
}

.characterView-container  .table-pagination {
    top: 40%;
    left:10%;
    display: flex;
    position: relative;
    border: 2px solid transparent;
    justify-content: space-around;
    width: 30%;
    height: 40px;
    border-radius: 5px;
}
.table-pagination-hide{
visibility: hidden;
}
.table-pagination span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 15%;
}
.table-pagination .current-page::after {
    position: absolute;
    content: "";
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    z-index: 4;
}

.characterView-container .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/background2.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

/* .table-characters tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} */
.characterView-container  .result-container {
    position: absolute;
    display: flex;
    top: 30%;
     width: 45%;
    height: 50%;
    right:10%;
   

}
 .result-container .result-header {
    position: relative;
    height: 100%;
    width: 50%;
    border-right: 2px solid transparent;
}
.result-header img {
    position: relative;
    height: 100%;
    border-radius: 5px 0 0 5px;
}


.result-container .result-content {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    opacity: 0.8;
    border-radius: 0 5px 5px 0; 
 } 
 .result-content span {
    padding: 10px;
    padding-left: 12px;
    align-self: center;
 } 
