.locationView-container {
    position: relative;
    z-index: 0;
    height: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
}

.locationView-title {
    position: absolute;
    top: 18%;
    height: 5%;
    text-align: center;
}

.locationView-container .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/background4.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}
