.locationView-container {
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.locationView-title {
    position: absolute;
    top: 18%;
    height: 5%;
    text-align: center;
}
.locationView-card .card-input {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    height: 6%;
    border-radius: 5px;
    font-size: 1.02rem;
    border: 2px solid transparent;
    padding-left: 10px;
    background-color: transparent;
}
.locationView-card .card-input:focus {
    outline: none;
}
.locationView-card .card-input-btn {
    position: absolute;
    top: 31%;
    right: 25.5%;
    z-index: 3;
    cursor: pointer;
}
.locationView-card .card-content {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 55%;
    border-radius: 5px;
}


.card-content .btn-back-list-location {
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
    display: inline-block;
    height: 10%;
    width: 8%;
}
.locationView-card .card-content .table-container::-webkit-scrollbar {
    display: none;
}
.order-icon-btn {
    position: absolute;
    top: 25%;
    right: 5%;
    cursor: pointer;
}
.locationView-container .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/background4.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}
